<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>procesarLoginForm</servlet-name>
        <servlet-class>Control.procesarLoginForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>procesarRegistroForm</servlet-name>
        <servlet-class>Control.procesarRegistroForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>crearNuevaSolicitud</servlet-name>
        <servlet-class>Control.crearNuevaSolicitud</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>procesarLoginForm</servlet-name>
        <url-pattern>/procesarLoginForm.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>procesarRegistroForm</servlet-name>
        <url-pattern>/procesarRegistroForm.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>crearNuevaSolicitud</servlet-name>
        <url-pattern>/crearNuevaSolicitud.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
